
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Home Office Case Details
    </h2>

    <p class="govuk-caption-m govuk-!-margin-top-0 govuk-!-margin-bottom-4">
      Case number 123456789
    </p>

    <form class="form" action="/case-decision" method="post">

      <table class="govuk-table">
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Case type</th>
            <td class="govuk-table__cell">Manual allocate</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">First and middle names</th>
            <td class="govuk-table__cell">Anton</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Surname(s)</th>
            <td class="govuk-table__cell">Deck</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other first name 1</th>
            <td class="govuk-table__cell">Alan</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other last name 1</th>
            <td class="govuk-table__cell">Partridge</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other first name 2</th>
            <td class="govuk-table__cell">Steve</td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other last name 2</th>
            <td class="govuk-table__cell">Coogan</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other first name 3</th>
            <td class="govuk-table__cell">David</td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other last name 3</th>
            <td class="govuk-table__cell">Byrne</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other first name 4</th>
            <td class="govuk-table__cell">Robbie</td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other last name 4</th>
            <td class="govuk-table__cell">Williams</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other first name 5</th>
            <td class="govuk-table__cell">Rob</td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other last name 5</th>
            <td class="govuk-table__cell">Dabank</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of birth</th>
            <td class="govuk-table__cell">27‑OCT‑1990</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Sex</th>
            <td class="govuk-table__cell">Male</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell">
              123 FAKE ADDRESS, MANCHESTER, M1 2AA
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Correspondence address</th>
            <td class="govuk-table__cell">
              2 MORNINGTON CRESCENT, LONDON, SW1 1AA
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other address 1</th>
            <td class="govuk-table__cell">
              2 Byker Lane, Newcastle, NE1 1AA
            </td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other address 2</th>
            <td class="govuk-table__cell">
              10 City Road, Birmingham, B1 1AA
            </td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other address 3</th>
            <td class="govuk-table__cell">
              10 Tinpan Alley, London, SW1 1AA
            </td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other address 4</th>
            <td class="govuk-table__cell">
              Flat 1, London, SW2 1AB
            </td>
          </tr>

           <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Other address 5</th>
            <td class="govuk-table__cell">
              10 The Mews, Edinburgh, E1 4AA
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Nationality</th>
            <td class="govuk-table__cell">British</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Date of arrival in the UK</th>
            <td class="govuk-table__cell">27‑NOV‑1999</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email address</th>
            <td class="govuk-table__cell">123fakeaddress@fake.com</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Telephone number</th>
            <td class="govuk-table__cell">1234567</td>
          </tr>

        </tbody>
      </table>

      {{ govukButton({
        text: "Next"
      }) }}

    </form>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside role="complementary">

      <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-2">
        Case history
      </h3>
      <p></p>
      <ol class="hmrc-timeline">

        <li class="hmrc-timeline__event">

          <h3 class="hmrc-timeline__event-title govuk-heading-s">
            Case Submitted
          </h3>

          <time class="hmrc-timeline__event-meta" datetime="2025-01-15">
            15 January 2025
          </time>

          <div class="hmrc-timeline__event-content"></div>

        </li>

      </ol>

    </aside>

  </div>

</div>

{% endblock %}
